form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-weight: 700;
    text-align: center;
}
input,
button{
    padding: 8px 16px;
    margin: 5px;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 4px 8px;
    background-color: #333;
    color: #fff;
}
button{
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.4px;
    border-radius: 8px 4px;
}
input:focus{
    outline: none;
    background-color: #444;
    border-color: #444;
}
ul{
    width: 100vw;
    list-style: none;
}
li{
    background-color: #888;
    padding: 40px 50px;
    width: 330px;
    text-align: center;
    border-radius: 12px 4px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
li > div{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}