.header__info-title {
    display: flex;
    align-items: flex-start;
    margin-bottom: 200px;
}
.header__info-title > span{
    display: none;
}
.event__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    position: relative;
    bottom: 100px
}
.event__list-mobile{
    display: none;
}
.header__info-event-title{
    display: none;
}
.header__info-event-title > img{
    transition: .3s;
}
.event__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    list-style: none
}

.event__list>li {
    width: 420px;
    height: 80px;
    margin: 20px
}

.event__link {
    text-decoration: none;
    font-weight: 700;
    letter-spacing: .5px;
    background-color: #293c43d0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    width: 100%;
    border-color: #1b1c1d;
    height: 100%;
    transition: .5s
}

.event__link:hover {
    box-shadow: 0 0 20px #293c43;
    font-size: 18px;
    border-radius: 100px;
    border: 3px solid #293c43;
    background-color: #293c43ef;
    transition: .35s
}

.event__list-wrapper {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center
}

.event-block {
    display: flex;
    flex-direction: column;
    align-items: center
}

.event__row {
    padding: 80px
}

.event__row:first-child {
    background-image: url(../images/events/event.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%
}

.event__info {
    position: relative;
    top: 400px
}

.event-paralelogram {
    width: 70%;
    height: 200px;
    transform: skew(-30deg);
    background: #293c43d0
}

.event-title {
    text-transform: uppercase;
    font-size: 72px;
    position: absolute;
    top: 30px;
    font-weight: 900;
    letter-spacing: .5px;
    left: -10px
}

.event-time {
    color: #FFD537;
    font-size: 72px;
    font-weight: 900;
    position: absolute;
    bottom: -40px;
    left: 50px
}

.event__row:nth-child(2) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70vh
}

.event__col {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

.event__col:first-child {
    flex-direction: column;
    width: 60%
}

.event__col>img {
    width: 90%;
    border-radius: 2.5px
}

.event-text {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
    text-shadow: 0 0 4px #555
}

.event__btn {
    padding: 16px 25px;
    color: #FFD537;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;
    text-decoration: none;
    background-color: #293c43;
    border-radius: 100px;
    box-shadow: 2px 2px 8px #293c43d0;
    transition: .3s
}

.event__btn:hover {
    box-shadow: -2px -2px 12px #293c43d0;
    background-color: #293c43d0;
    transition: .3s
}

.event-paralelogram-bg {
    width: 100%;
    height: 60%;
    transform: skew(-30deg);
    background: #293c43af;
    position: absolute;
    z-index: -1
}
@media screen and (max-width: 968px) {
    .header__info-event-title{
        margin-top: 15px;
        background-color: #293c43af;
        padding: 10px 30px;
        width: 95vw;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        font-weight: 600;
        width: 96.5vw;
        margin-bottom: -2px;
        border: 2px solid #293c43af;
        transition: .3s;
    }
    .header__info-event-title > img{
        width: 40px;
        margin-top: 5px;
        margin-left: 20px;
    }
    .header__info{
        margin-top: 300px;
        height: 80%;
        justify-content: flex-start;
    }
    .header__info-title{
        align-items: center;
        margin: 0px;
    }
    .header__info-title > span{
        display: block;
        font-size: 32px;
    }
    .event__nav{
        display: none;
    }
    .event__list-mobile{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        list-style: none;
        font-weight: 700;
        border: 2px solid #1d282c;
        border-radius: 0px 0px 10px 10px;
    }
    .event__list-mobile > li{
        display: flex;
        justify-content: center;
        width: 95vw;
    }
    .event__link-mobile{
        text-decoration: none;
        padding: 10px 16px;
        background-color: #293c43;
        width: 100%;
        text-align: center;
    }
    .event__list-mobile>li{
        border-top: 2px solid #1d282c;
    }
    .event__list-mobile>li:first-child{
        border: none;
    }
    .event__list-mobile > li:last-child > .event__link-mobile{
        border-radius: 0px 0px 8px 8px;
    }
    .event__row{
        padding: 0px;
    }
    .event__row:first-child{
        height: 30vh;
    }
    .event__info{
        top: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        backdrop-filter: blur(1px) brightness(80%);
    }
    .event-paralelogram{
        width: 90%;
        height: 70%;
        left: 15px;
        position: absolute;
        transform: skew(-20deg);
        box-shadow: 0px 0px 8px #1b1c1d;
        filter: contrast(105%);
    }
    .event-title{
        font-size: 32px;
        text-align: center;
        position: relative;
        top: 0;
        filter: contrast(115%);
    }
    .event-time{
        font-size: 26px;
        font-weight: 800;
        position: relative;
        top: 0;
        left: 150px;
        filter: contrast(105%);
    }
    .event__row:nth-child(2){
        flex-wrap: wrap;
        height: auto;
    }
    .event__col:first-child,
    .event__col:last-child{
        width: 100%;
        padding: 20px;
    }
    .event-text{
        font-size: 16px;
        text-align: justify;
    }
    .event-paralelogram-bg{
        display: none;
    }
    .event__col > img{
        width: 95%;
    }
}