:root {
    --swiper-navigation-size: 60px !important;
    --swiper-theme-color: #d6d0ba !important
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-weight: 600;
    text-shadow: 0 0 8px #333
}

.header-filter {
    backdrop-filter: grayscale(20%) contrast(115%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1
}

.header__info {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end
}

.header__info-title,
.header__info-subtitle,
.header__info-span {
    text-shadow: 2px 2px 10px #222;
    text-align: center;
    font-weight: 800;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px
}

.header__info-title {
    font-size: 62px
}

.header__info-span {
    font-size: 42px
}

.header__info-subtitle {
    font-size: 52px
}

.zmi__item {
    background-size: cover;
    background-position: center;
    margin: 20px;
    border-radius: 2px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s
}

.zmi__item:hover {
    border-radius: 5px;
    transition: .2s
}

._1,
._2,
._3,
._4,
._5,
._6,
._7,
._8,
._9,
._10,
._11,
._12,
._13,
._14,
._15,
._16,
._17,
._18,
._19,
._20,
._21,
._22,
._23,
._24,
._25,
._26,
._27,
._28,
._29,
._30,
._31,
._32,
._33,
._34,
._35,
._36 {
    font-family: Montserrat;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7) !important;
    transition: .3s;
    opacity: 1 !important;
    filter: none !important;
    width: 100% !important;
    height: 100% !important;
    transition: .2s !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    font-size: 24px !important;
    border-radius: 10px
}

.feedback-swiper {
    width: 90vw;
    height: 80vh;
    margin: 50px 0
}

.zmi-swiper>.swiper-wrapper>.swiper-slide:hover {
    transform: scale(1.05);
    z-index: 2;
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    transition: .3s
}

.zmi-swiper {
    height: 80vh !important;
    margin-top: 50px;
    width: 91.5vw;
    padding: 25px !important;
    margin-left: auto;
    margin-right: auto
}

.swiper-slide {
    z-index: 1;
    text-align: center;
    font-size: 18px;
    height: calc((100% - 30px) / 2) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    text-decoration: none !important;
    border-radius: 10px;
    transition: .3s;
}
.swiper-button-next,
.swiper-button-prev {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.feedback__item {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: none
}

.feedback__item-title {
    color: #000
}
.feedback__item-text{
    justify-content: justify;
}
@media screen and (max-width: 968px) {
    .zmi__item {
        width: 95%
    }

    .swiper {
        height: 80vh
    }

    .swiper-slide {
        height: 100% !important
    }
}