@import url(secondary.css);
.header__info{
    height: 50%;
}
.feedback__title{
    bottom: 0px;
}
.tabir__video-wrapper{
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(41, 60, 67, 0.75);
}
.tabir__video{
    width: 70%;
    height: 65%;
    filter: contrast(60%);
}
.tabir__video-message{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
}
.video__message-col:first-child{
    width: 25%;
    display: flex;
    justify-content: center;
}
.video__message-col:last-child{
    width: 90%;
}
.video__message-number,
.video__message-text{
    font-family: Montserrat;
    color: #fff;
    font-weight: 800;
    font-size: 68px;
}
.video__message-number{
    font-family: FuturaLT-Bold;
    font-size: 144px;
    color: #FFD537;
    font-family: 700;
}


.tabir__features{
    background-image: url(../images/tabir/features-bg.png);
    height: 90vh;
}
.tabir__features-list{
    backdrop-filter: contrast(70%) brightness(80%);
    width: 100%;
    height: 100%;
    padding: 20px 100px 20px 50px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tabir__features-list > li{
    margin: 12px 0px;
}
.tabir__feature-title{
    font-size: 24px;
    color: #fff;
    text-shadow: 0px 0px 10px #1b292c;
    line-height: 35px;
}
.tabir__feature-text{
    font-size: 20px;
    color: #fff;
    text-shadow: 0px 0px 5px #1b292c;
    margin-left: 2em;
    letter-spacing: 0.4px;
    font-weight: 500;
}


.registration-wrapper{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../images/tabir/registration-bg.png);
}
.registration__course{
    width: 38%;
    height: 30%;
    background-color: #293C43BF;
    border: 3px solid #FFD537;
    border-radius: 150px;
    padding: 50px;
    margin: 0px 50px;
}
.registration__course-title{
    font-family: 'Montserrat';
    color: #DEB92D;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 800;
}
.registration__course-option{
    margin-left: 50px;
    line-height: 25px;
    color: #DEB92D;
}