@import url(secondary.css);

.team__text-wrapper{
	width: 100vw;
	height: 65vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.team__text{
	width: 80vw;
	font-weight: 700;
	letter-spacing: 0.4px;
	font-size: 17px;
	position: relative;
	z-index: 1;
	text-align: justify;
	padding: 20px;
}

.team__paralelogram{
	z-index: 0;
	width: 70vw;
	height: 40vh;
	position: absolute;
	left: -10vw;
	top: 0;
	background: rgba(41, 60, 67, 0.75);
	transform: skew(-25deg);
}

.team-wrapper{
	background-color: #293C43;
	padding: 20px;
	padding-bottom: 0px;
}

@media screen and (max-width:  968px){
	.team__text-wrapper{
		height: auto;
		padding: 20px;
	}
	.team__text{
		width: 90vw;
	}
	.team__paralelogram{
		height: 80vh;
	}
}

@media screen and (max-width:  769px){
	.header__info{
		height: 60%;
	}
	.team__paralelogram{
		left: -20vw;
		height: 70vh;
	}
}

@media screen and (max-width:  426px){
	.team__text-wrapper{
		padding: 10px;
	}
	.team__text{
		width: 98vw;
		font-weight: 600;
	}
	.team__paralelogram{
		height: 40vh;
		left: -30vw;
	}
}