.value {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  margin-bottom: 50px;
}
.title {
  font-size: 45px;
  color: #fff;
  font-family: "Buduj Bold";
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.text {
  font-size: 20px;
  color: var(--tertiary-color);
  font-family: "Futura Bold";
}
.text:last-child {
  margin-top: 10px;
}
.imagesWrapper {
  display: flex;
  gap: 0 5px;
  width: 100%;
}
.image {
  width: 305px;
}
