.topContainer {
  padding: 30px 200px;
}

@media screen and (max-width: 1440px) {
  .topContainer {
    padding: 30px 100px;
  }
}
@media screen and (max-width: 1160px) {
  .topContainer {
    padding: 30px 40px;
  }
}

@media screen and (max-width: 650px) {
  .topContainer {
    padding: 30px 20px;
  }
}
