.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container svg {
  stroke: var(--alt-main-color);
}
.container svg g g circle {
  stroke: var(--secondary-color);
}
