.modal {
  height: 400px;
  width: 100%;
  background-color: white;
  border: 1px solid var(--alt-main-color);
  outline: none;
  position: relative;
  z-index: 3;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-image: url(../../assets/bg.jpeg) !important; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  justify-content: space-between;
}
.row:first-child {
  padding: 10px;
  border-bottom: 1px solid var(--alt-main-color);
  align-items: center;
}
.row:last-child {
  height: calc(100% - 50px);
}
.title {
  color: black;
  font-family: "Futura Bold";
  text-transform: uppercase;
  font-size: 16px;
  z-index: 2;
}
.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.close {
  width: 24px;
  height: 24px;
  color: var(--secondary-color);
}
.list {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  height: 100%;
}
.item {
  position: relative;
  height: 200px;
}
.col:first-child {
  width: 100%;
  height: 100%;
  max-height: 450px;
  overflow-y: scroll;
}
.col:first-child::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.col:first-child::-webkit-scrollbar {
  width: 5px;
}
.col:first-child::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #737272;
}

.col:last-child {
  width: 480px;
}
.sideRow {
  border-bottom: 1px solid var(--alt-main-color);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sideRow:last-child {
  padding: 10px 20px;
  border-bottom: none;
  flex-direction: column;
  gap: 18px;
}

.text,
.price {
  font-family: "Futura bold";
  text-transform: uppercase;
  font-size: 15px;
}

.price {
  color: var(--alt-main-color);
}
.arrowButton {
  background: none;
  border: none;
  cursor: pointer;
}
.arrow {
  width: 28px;
  height: 28px;
}
.form {
  width: 100%;
}
.buttonDark,
.buttonLight {
  width: 100%;
  padding: 10px;
  min-height: 38px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Futura Heavy";
  font-size: 16px;
  border: none;
  background: none;
  position: relative;
  transition: 0.3s;
  z-index: 1;
}
.buttonDark {
  background-color: black;
  animation: darkButton 1s;
  color: white;
}
.buttonLight {
  color: var(--main-text-color);
}
.buttonIsLoading {
  animation: grayButton 2.5s;
}
.disableModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.6);
}
.toastText {
  font-family: "Futura Bold";
  text-transform: uppercase;
}

@keyframes grayButton {
  from {
    background-color: black;
  }
  to {
    background-color: var(--secondary-color);
  }
}
@keyframes darkButton {
  from {
    background-color: var(--secondary-color);
  }
  to {
    background-color: black;
  }
}

@media screen and (max-width: 1240px) {
  .col:last-child {
    width: 360px;
  }
}

@media screen and (max-width: 868px) {
  .col:last-child {
    width: 340px;
  }
  .sideRow:last-child {
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .modal {
    height: 100%;
  }
  .row:last-child {
    flex-direction: column;
    gap: 0px 0;
  }
  .col:first-child {
    max-height: 100%;
  }
  .col:last-child {
    width: 100%;
    border-top: 1px solid var(--alt-main-color);
  }
  .sideRow:last-child {
    padding: 10px;
  }
}
