.container {
  padding: 0 20px;
}
.list {
  display: flex;
  gap: 0 30px;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  max-width: 240px;
}
.sum {
  width: 100%;
  object-fit: contain;
}
.number {
  font-size: 64px;
  color: var(--alt-main-color);
  font-family: "Buduj Bold";
  text-align: center;
}
.description,
.text {
  font-size: 26px;
  color: var(--alt-main-color);
  font-family: "Futura Bold";
  text-align: center;
  text-transform: uppercase;
  line-height: 35px;
}
.text {
  text-transform: none;
  margin-top: 20px;
}

@media screen and (max-width: 1280px) {
  .number {
    font-size: 48px;
  }
  .description,
  .text {
    font-size: 24px;
    line-height: 28px;
  }
}
@media screen and (max-width: 868px) {
  .list {
    gap: 10px;
  }
  .item {
    gap: 0;
  }
  .number {
    font-size: 48px;
  }
  .description,
  .text {
    font-size: 20px;
    line-height: 28px;
  }
}
@media screen and (max-width: 680px) {
  .number {
    font-size: 38px;
  }
  .description,
  .text {
    font-size: 18px;
  }
}
@media screen and (max-width: 520px) {
  .number {
    font-size: 28px;
  }
  .description,
  .text {
    font-size: 16px;
  }
}
@media screen and (max-width: 425px) {
  .list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .item {
    max-width: calc(50% - 10px);
  }
}
