.list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.item {
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 30px;
    text-align: center;
}
.item span{
    font-weight: 700;
    font-family: "Futura Bold";
    font-size: 30px;
}

.icon {
    width: 70px;
    height: 70px;
    color: var(--tertiary-color);
}

.text {
    font-size: 20px;
    font-weight: 700;
    font-family: "Futura Bold";
    color: #fff;
}

@media screen and (max-width: 868px) {
    .item {
        padding: 10px 20px;
        gap: 10px;
    }

    .icon {
        width: 45px;
        height: 45px;
    }

    .text {
        font-size: 18px;
        font-family: "Futura Demi";
        letter-spacing: 0.3px;
    }
}

@media screen and (max-width: 650px) {
    .list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .item {
        width: calc(50% - 10px);
    }
}