.container,
.layer {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: top;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.bgFilter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(27, 41, 44, 0.5);
  z-index: 1;
}
.noBgFilter {
  background: none;
}
.titleWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20vh;
  z-index: 2;
}
.title {
  font-size: 120px;
  font-family: "Buduj Regular-Height";
  color: rgba(241, 196, 0, 1);
  text-transform: uppercase;
  letter-spacing: -6px;
}
.subtitle {
  font-size: 100px;
  font-family: "Futura Bold";
  background-color: #fff;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 59.13%,
    rgba(42, 61, 68, 0.5) 89.42%
  );
  color: transparent;
  background-clip: text;
  text-transform: uppercase;
  margin-top: -20px;
}

@media screen and (max-width: 2560px) {
  .container,
  .layer {
    background-position-y: -25vh;
  }
}

@media screen and (max-width: 1920px) {
  .container,
  .layer {
    background-position-y: -8vh;
  }
}

@media screen and (max-width: 650px) {
  .container,
  .layer {
    background-position: top;
  }
  .titleWrapper {
    top: 70px;
  }
  .title,
  .subtitle {
    font-size: 45px;
    line-height: 75px;
    letter-spacing: 0px;
  }
}
