.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.title {
  font-size: 120px;
  color: var(--main-text-color);
  font-family: "Buduj Black-Height";
  text-transform: uppercase;
}
.arrow {
  width: 130px;
  height: 130px;
  color: var(--main-text-color);
}
.logo {
  width: 110px;
  height: 110px;
}
.text {
  font-size: 20px;
  color: var(--alt-main-color);
  font-family: "Futura Bold";
  text-align: justify;
}

@media screen and (max-width: 1160px) {
  .title {
    font-size: 100px;
  }
  .arrow {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 868px) {
  .title {
    font-size: 80px;
  }
  .logo {
    width: 90px;
    height: 90px;
  }
  .text {
    font-size: 18px;
  }
}
@media screen and (max-width: 650px) {
  .row {
    gap: 10px;
  }
  .title {
    font-size: 60px;
  }
  .arrow {
    width: 80px;
    height: 80px;
  }
  .container {
    gap: 20px;
  }
  .title {
    font-size: 70px;
  }
  .logo {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .title {
    font-size: 50px;
  }
  .arrow {
    width: 50px;
    height: 50px;
  }
}
