.container {
  padding: 20px 30px;
  background-color: var(--secondary-color);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}
.titleWrapper {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.icon {
  color: var(--tertiary-color);
  width: 30px;
  height: 30px;
}
.title {
  color: #fff;
  font-family: "Buduj Bold";
  font-size: 25px;
}
.button {
  padding: 8px 30px;
  background-color: var(--alt-main-color);
  border-radius: 100px;
  color: var(--tertiary-color);
  font-size: 25px;
  font-family: "Buduj Bold";
}
