.topContainer {
  padding: 30px 200px;
}

.backLink {
  font-size: 20px;
  font-family: "Buduj Bold";
  text-transform: uppercase;
  font-weight: 700;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 1440px) {
  .topContainer {
    padding: 30px 100px;
  }
}
@media screen and (max-width: 1200px) {
  .topContainer {
    padding: 30px 40px;
  }
}

@media screen and (max-width: 650px) {
  .topContainer {
    padding: 30px 20px;
  }
}
