.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  padding: 20px;
}
.link {
  height: 75%;
  width: 100%;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.description {
  height: calc(25% - 15px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.name {
  font-size: 20px;
  font-family: "Buduj Black";
  text-transform: uppercase;
  color: var(--alt-main-color);
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.priceWrapper {
  padding: 10px 20px;
  background-color: var(--tertiary-color);
  border-radius: 50px;
}
.price {
  font-size: 15px;
  font-family: "Futura Bold";
  color: var(--main-text-color);
}
.col {
  display: flex;
  align-items: center;
  gap: 0 15px;
}
.size {
  position: relative;
  min-width: 50px;
}
.sizeButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 8px;
  font-family: "Futura Bold";
  font-size: 20px;
  color: var(--alt-main-color);
  padding: 5px;
  min-width: 50px;
}
.sizeButtonOpened {
  border: 1px solid var(--alt-main-color);
  border-radius: 1px 1px 0 0;
}
.arrow {
  width: 18px;
  height: 18px;
  color: var(--secondary-color);
}
.cartButton {
  background: none;
  border: none;
  cursor: pointer;
}
.cart {
  width: 35px;
  height: 35px;
  color: var(--alt-main-color);
}

.toastWrapper {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.toastText {
  font-family: "Futura Bold";
  text-transform: uppercase;
}
