.container {
  background-color: var(--alt-main-color);
  padding: 40px;
}
.row {
  display: flex;
  gap: 0 20px;
  height: 90vh;
  margin-bottom: 20px;
}
.col {
  height: 100%;
}
.col:first-child {
  width: 60%;
  background-image: url(../../assets/feedbacks/bg.webp);
  background-size: cover;
  background-position: right;
  transform: scaleX(-1);
  border-radius: 30px;
  position: relative;
}
.col:last-child {
  width: 40%;
}

.titleWrapper {
  transform: scaleX(-1);
  position: absolute;
  top: 0;
  right: -1px;
  background-color: var(--alt-main-color);
  padding: 20px;
  border-radius: 0 0 30px 0;
  box-shadow: inset -3px -3px 5px rgba(0, 0, 0, 0.2);
}
.title,
.subtitle {
  text-transform: uppercase;
  font-family: "Buduj Black";
}
.title {
  font-size: 60px;
  color: var(--dark-accent-color);
  line-height: 60px;
}
.subtitle {
  font-size: 40px;
  color: var(--tertiary-color);
  line-height: 30px;
}
