.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.nav {
  width: 360px;
  min-height: 290px;
  height: 290px;
  border: 1px solid var(--alt-main-color);
  border-right: 0;
  border-radius: 50px 0 0 50px;
  background-color: #e8e4dc;
  padding: 25px;
}
.list {
  display: grid;
  grid-template-columns: repeat(3, 315px);
  grid-auto-rows: minmax(min-content, auto);
  list-style: none;
}
.item {
  background-color: #e8e4dc;
  border: 1px solid var(--alt-main-color);
  display: flex;
}

@media screen and (max-width: 1450px) {
  .nav {
    width: 310px;
    padding: 15px;
  }
  .list {
    grid-template-columns: repeat(3, 290px);
  }
}

@media screen and (max-width: 1300px) {
  .list {
    grid-template-columns: repeat(3, 280px);
  }
}
@media screen and (max-width: 1230px) {
  .nav {
    width: 250px;
  }
}
@media screen and (max-width: 1120px) {
  .list {
    grid-template-columns: repeat(2, 300px);
  }
}
@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .nav {
    width: 100%;
    height: auto;
    min-height: 50px;
    border-radius: 50px 50px 0 0;
    padding: 10px 20px;
    border-right: 1px solid var(--alt-main-color);
  }
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  /* Cards remain flexible */
}
@media screen and (max-width: 550px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 450px) {
  /* Cards remain flexible */
}
