.container {
  display: grid;
  grid-template-columns: 280px 550px 280px;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}
.col {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 75vh;
}
.details {
  height: 100%;
  border: 2px solid var(--alt-main-color);
  display: flex;
  flex-direction: column;
}
.col:first-child .details {
  height: auto;
  padding: 20px;
  gap: 10px 0;
}
.col:last-child .details {
  justify-content: space-between;
}
.detailsSection {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  padding: 20px;
}
.detailsSection:nth-child(2) {
  border-top: 2px solid var(--alt-main-color);
}
.title {
  font-size: 20px;
  font-family: "Buduj Black";
  text-transform: uppercase;
  color: var(--alt-main-color);
}
.text {
  font-size: 14px;
  font-family: "Futura Demi";
  color: var(--alt-main-color);
}

.price {
  font-family: "Futura Bold";
  font-size: 18px;
  color: var(--alt-main-color);
}
.button {
  border: none;
  border-top: 2px solid var(--alt-main-color);
  padding: 20px;
  background-color: var(--bright-accent-color);
  text-transform: uppercase;
  font-family: "Futura Bold";
  font-size: 20px;
  color: var(--alt-main-color);
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 1160px) {
  .container {
    grid-template-columns: 240px 400px 240px;
  }
}

@media screen and (max-width: 1024px) {
  .col {
    height: 65vh;
  }
  .col:first-child .details,
  .detailsSection {
    padding: 15px;
  }
}
@media screen and (max-width: 868px) {
  .container {
    grid-template-columns: 220px 300px 220px;
  }
  .col:first-child .details,
  .detailsSection {
    padding: 10px;
  }
  .col:first-child .details {
    gap: 5px 0;
  }
  .detailsSection {
    gap: 15px 0;
  }
  .title,
  .button {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 95%;
    gap: 10px;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
      "col2 col1"
      "col2 col3";
  }
  .col:first-child {
    grid-area: col1;
    height: auto;
    justify-content: start;
  }
  .col:nth-child(2) {
    grid-area: col2;
  }
  .col:last-child {
    grid-area: col3;
    height: auto;
  }
}

@media screen and (max-width: 650px) {
  .container {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "col2 col2"
      "col1 col3";
  }
}
@media screen and (max-width: 470px) {
  .container {
    grid-template-areas:
      "col2 col2"
      "col1 col1"
      "col3 col3";
  }
}
